.header{
   background: url('../imges/Rectangle.jpg') no-repeat center;
   background-size: cover;
   height: 100vh;
   position: relative;
   z-index: 1;
}
.gradient{
    position: absolute;
    background: linear-gradient(to right, #5E239D, #ffffff00);
    width: 100%;
    mix-blend-mode: multiply;
    height: 100%;
    z-index: -1;
}
.header::before{
    position: absolute;
    content: '';
    background-color: rgba(94, 35, 157, 1);
    mix-blend-mode: multiply;
    width: 100%;
    height:100%;
    z-index: -1;
}
.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 61px;
}
.header__navbar ul{
    display: flex;
    gap: 60px;
}
.header__navbar ul li{
    font-size: var(--text_section-size);
    font-family: var(--basic-fond-famali);
    list-style: none;
    font-weight: 600;
    letter-spacing: 2px;
    color: #Fff;
}
.header__tel{
    color: #Fff;
    display: flex;
    align-items: center;
    gap: 15px;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: var(--text_section-size);
}   
.main__content{
    color: #Fff;
}
.main__content p{
    margin-bottom: 18px;
    letter-spacing: 4px;
    font-size: var(--navbar-size);
    font-family: var(--basic-fond-famali);
    font-weight: 600;
    text-transform: uppercase;
}
.main{
    padding: 162px 0 126px 0;
    position: relative;
}
.main__card{
    padding: 100px 0;
    display: flex;
    align-items: center;
    gap: 43px;
}
.main__card::before{
    position: absolute;
    height: 100px;
    left: 0;
    content: '';
    width: 50%;
    border: 1px solid rgba(255, 255, 255, 0.25);
}
.main__card p{
    font-size: 18px;
    color: #fff;
    font-family: var(--basic-fond-famali);
}
.we__content{
    padding: 180px 0 117px 0;
}
.we__content-text h2{
    padding: 18px 0;
}
.we__text-intro{
    color: var(--primary-color);
    font-family: var(--basic-fond-famali);
    font-size: 12.6px;
    letter-spacing: 6px;
    font-weight: 600;
    text-transform: uppercase;    
}
.we__text-desc{
    width: 734px;
    font-weight: 600;
    color: var(--title_section-color);
    font-size: var(--title_desc-size);
    font-family: var(--basic-fond-famali);
}
.we__content-cards{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
.we_cards-title{
    padding: 18px 0 13px 0;
    font-weight: 600;
    color: var(--title_section-color);
    font-size: var(--title_desc-size);
    font-family: var(--basic-fond-famali);
}
.we__cards-desc{
    color: var(--text_section-color);
    font-size: var(--text_section-size);
    font-family: var(--basic-fond-famali);
    width: 362px;
}
.advantages__content p{
    margin-bottom: 12px;
}
.advantages__container-box{
    margin-top: 135px;
    position: relative;
}
.advantages img{
    position: absolute;
    right: 0;
    bottom: 0;
}
.advantages__container{
    padding: 110px 0;
    height: 324px;
}
.advantages__container:nth-child(1) {
    background-color: #5E239D;
}
.advantages__container:nth-child(2) {
    background-color: var(--secondaty_300-color);
}
.advantages__container:nth-child(3) {
    background-color: var(--secondaty_400-color);
}
.advantages__container-flex{
    display: flex;
    gap: 18%;
}
.advantages__container-flex h3{
    width: 253px;
    font-weight: 500;
}
.advantages__container-flex p{
    width: 362px;
    color: var(--white-color);
    font-size: 18px;
}
.about__content{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 180px 0;
}
.about__content-cards{
    margin-top: 118px;
    display: flex;
    justify-content: center;
    gap: 200px;
}
.about__cards-desc{
    font-size: var(--navbar-size);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 6px;
}
.about__cards:nth-child(1) .about__cards-title{
    font-size: var(--title_main-size);
    color: var(--primary-color);
    font-weight: 800;
    margin-bottom: 16px;
}
.about__cards:nth-child(2) .about__cards-title{
    font-size: var(--title_main-size);
    color: var(--secondaty_100-color);
    font-weight: 800;
    margin-bottom: 16px;
}
.about__cards:nth-child(3) .about__cards-title{
    font-size: var(--title_main-size);
    color: rgba(0, 240, 181, 1);
    font-weight: 800;
    margin-bottom: 16px;
}
.clients{
    padding: 144px 0;
    background: url('../imges/part.jpg') no-repeat center;
    background-size: 100%;
}
.clients__content{
   display: flex;
   justify-content: right;
}
.clients__content-cards{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    gap: 75px 140px ;
}
.reviews{
    background: url('../imges/reviews_background.png') no-repeat center rgba(252, 252, 252, 1);
}
.reviews__content{
    padding: 180px 0 130px;
    text-align: center;
    position: relative;
}
.reviews__content img:nth-child(2){
    position: absolute;
    bottom: 390px;
    left: 46.8%;
}
.reviews__content-cards{
    margin-top: 116px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reviews__cards-text p:nth-child(1){
    font-family: 'Noticia Text';
    width: 754px;
    font-size: 36px;
    margin-bottom: 30px;
    line-height: 177.4%;
}
.reviews__cards-text p:nth-child(2){
    font-family: var(--basic-fond-famali);
    font-size: 18px;
    
}
.reviews__cards-text p span{
    font-weight: 600;
}
.reviews__content-cards img:last-child{
    transform: rotate(180deg);
}
.subscription__content{
    padding: 130px 0;
    text-align: center;
}
.subscription__content h2{
    margin-bottom: 23px;
}
.subscription__content p{
    font-size: 18px;
    font-weight: 500;
    color: rgba(119, 108, 130, 1);
}
.subscription__form{
    width: 522px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    box-shadow: 0px 4px 1px rgba(244, 244, 237, 1);
}
.subscription__content form{
    margin-top: 45px;
}
.subscription__content form input{
    font-weight: 800;
    border: none;
    background: none;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.subscription__content form input[type='email']{
    padding: 10px;
    font-size: 18px;
    color: rgba(155, 148, 163, 1);
}
.subscription__content form input[type='submit']{
    color: var(--primary-color);
    letter-spacing: 6px;
    font-size: 12.6px;
}
.subscription__form-button{
    display: flex;
    align-items: center;
    gap: 20px;
    background: linear-gradient(to top, rgba(242, 242, 242, 1), rgba(255, 255, 255, 0));
    padding: 15px 27px;
}
.footer{
    background-color: var(--secondaty_400-color);
    padding: 124px 0;
    color: #fff;
}
.footer__content{
    display: flex;
    justify-content: space-between;
}
.footer__content-logo img{
    margin-bottom: 17px;
}
.footer__content-logo p{
    width: 166px;
}
.footer__content-title{
    text-transform: uppercase;
    font-size: 12.6px;
    letter-spacing: 6px;
    font-weight: 700;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--primary-color);
    margin-bottom: 27px;
}
.footer__content-text ul li{
    padding: 5px 0;
    font-size: 12.6px;
    letter-spacing: 1px;
    font-weight: bold;
}
.footer__content-cards{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.footer__content-cards img{
    width: 15px;
}
.footer__content-flex{
    display: flex;
    gap: 42px;
}
.footer__desc{
    margin-top: 70px;
    padding-left: 30.6%;
}